# Git files
*.orig

# Prerequisites
*.d

# Compiled Object files
*.o
*.x
*.lo
*.obj
*.slo
*.objdump

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Vim
*.swp

# ModelSim files
*.ver
*.wlf
*.sym
*.vstf
*.qdb
_info
_vmake
transcript

# Xilinx files
*.cache
*.data
*.xpr
*.log
*.bld
*.chk
*.cmd_log
*.cxt
*.gise
*.gyd
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.tspec
*.vm6
*.xst
*.xrpt
*.err
*_html
*.sld
xst
netgen
iseconfig
xlnx_auto*
_ngo
_xmsgs
component.xml
*.jou
xgui
*.runs
*.srcs
*.sdk
.Xil
*_INFO.txt
*_dump.txt

# Quartus files
*~
*.os
*.hw
*.vo
*.do
*.cdf
*.ddb
*.dpf
*.eqn
*.jdi
*.pof
*.ptf.*
#*.qar
*.qarlog
*.qpg
*.qtl
*.qws
*.gdb
*.map
*.rpt
*.sof
*.spd
*.rbf
*.bsf
*.cmp
*.pin
*.ocp
*.svd
*.eda.rpt
*.asm.rpt
*.map.*
*.sta.*
*.fit.*
*.smsg
*.done
*.qgsimc
*.regmap
*.summary
*.qgsynthc
*.sopcinfo
*.sopc_builder
*webtalk*
**/db/*
**/qdb/*
**/.qsys_edit/*
**/output_files/*
**/hc_output/*
**/hps_isw_handoff/*
**/graybox_tmp/*
**/tmp-clearbox/*
**/incremental_db/*

# Binary files
*.hex
*.dat
*.pdf
*.png
*.bin
*.doc
*.docx

# Misc files
*.htm
*.xml
*.log
*.bak
*.BAK*
*.html
*.setup
*.stackdump

# Build directories
**/build*/**

# Checkpoint files
*checkpoint

#Unit tests scripts build
**/tests_scripts*/AVMM_MUX_1to4/avmm_mux_unit_test_vcs/**
**/tests_scripts*/AVMM_MUX_1to4/avmm_mux_unit_test_modelsim/**
**/tests_scripts*/LTPI_CSR/LTPI_CSR_unit_test_vcs/**
**/tests_scripts*/LTPI_CSR_AVMM_UNIT_TEST/ltpi_csr_avmm_unit_test_vcs/**
**/tests_scripts*/LTPI_CSR_AVMM_UNIT_TEST/ltpi_csr_avmm_unit_test_modelsim/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_controller_csr/ltpi_data_channel_controller_csr_unit_test/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_controller_csr/ltpi_data_channel_controller_csr_unit_test_vcs/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_controller_csr/ltpi_data_channel_controller_csr_unit_test_modelsim/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_direct_mm_unit_test_vcs/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_direct_mm_unit_test_modelsim/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_unit_test_vcs/**
**/tests_scripts*/LTPI_data_channel/ltpi_data_channel_unit_test_modelsim/**
**/tests_scripts*/LTPI_gpio/ltpi_gpio_param_unit_test_vcs/**
**/tests_scripts*/LTPI_gpio/ltpi_gpio_param_unit_test_modelsim/**
**/tests_scripts*/LTPI_gpio/ltpi_gpio_unit_test_vcs/**
**/tests_scripts*/LTPI_gpio/ltpi_gpio_unit_test_modelsim/**
**/tests_scripts*/LTPI_link_aligned/ltpi_link_aligned_unit_test_vcs/**
**/tests_scripts*/LTPI_link_aligned/ltpi_link_aligned_unit_test_modelsim/**
**/tests_scripts*/LTPI_link_state_machine/link_state_machine_unit_test_vcs/**
**/tests_scripts*/LTPI_link_state_machine/link_state_machine_unit_test_modelsim/**
**/tests_scripts*/LTPI_parameterize/ltpi_parameterize_unit_test_vcs/**
**/tests_scripts*/LTPI_parameterize/ltpi_parameterize_unit_test_modelsim/**
**/tests_scripts*/LTPI_phy_tx_rx_unit_test/ltpi_phy_tx_rx_unit_test_vcs/**
**/tests_scripts*/LTPI_phy_tx_rx_unit_test/ltpi_phy_tx_rx_unit_test_modelsim/**
**/tests_scripts*/LTPI_smbus/ltpi_smbus_unit_test_vcs/**
**/tests_scripts*/LTPI_smbus/ltpi_smbus_unit_test_modelsim/**
**/tests_scripts*/LTPI_top_BMC_com_unit_test/ltpi_top_BMC_com_unit_test_vcs/**
**/tests_scripts*/LTPI_top_BMC_com_unit_test/ltpi_top_BMC_com_unit_test_modelsim/**
**/tests_scripts*/LTPI_top_gpio_unit_test/LTPI_top_gpio_unit_test_vcs/**
**/tests_scripts*/LTPI_top_gpio_unit_test/LTPI_top_gpio_unit_test_modelsim/**
**/tests_scripts*/LTPI_top_param_unit_test/ltpi_top_param_unit_test_vcs/**
**/tests_scripts*/LTPI_top_param_unit_test/ltpi_top_param_unit_test_modelsim/**
**/tests_scripts*/LTPI_uart/ltpi_uart_unit_test_vcs/**
**/tests_scripts*/LTPI_uart/ltpi_uart_unit_test_modelsim/**
**/tests_scripts*/lvds_phy_unit_test/lvds_phy_unit_test_vcs/**
**/tests_scripts*/lvds_phy_unit_test/lvds_phy_unit_test_modelsim/**
**/tests_scripts*/m10_pll_top/m10_pll_top_unit_test_vcs/**
**/tests_scripts*/m10_pll_top/m10_pll_top_unit_test_modelsim/**
**/tests_scripts*/mgmt_data_channel_unit_test/mgmt_data_channel_i2c_bridge_unit_test_vcs/**
**/tests_scripts*/mgmt_data_channel_unit_test/mgmt_data_channel_i2c_bridge_unit_test_modelsim/**
**/tests_scripts*/mgmt_data_channel_unit_test/mgmt_data_channel_direct_mm_unit_test_vcs/**
**/tests_scripts*/mgmt_data_channel_unit_test/mgmt_data_channel_direct_mm_unit_test_modelsim/**
**/tests_scripts*/mgmt_data_channel_unit_test/mgmt_data_channel_unit_test_vcs/**
**/tests_scripts*/mgmt_data_channel_unit_test/mgmt_data_channel_unit_test_modelsim/**
**/tests_scripts*/mgmt_phy_unit_test/mgmt_phy_unit_test_vcs/**
**/tests_scripts*/mgmt_phy_unit_test/mgmt_phy_unit_test_modelsim/**
**/tests_scripts*/mgmt_smbus_echo/mgmt_smbus_echo_en_unit_test_vcs/**
**/tests_scripts*/mgmt_smbus_echo/mgmt_smbus_echo_en_unit_test_moeslim/**

*.txt
#Ingnor logic directory except: 
#logic_avalon_mm_pkg.sv
#logic_pkg.sv
#logic_avalon_mm_if.sv
#logic_avalon_mm.svh
#logic.svh
**/logic*/**
!logic/rtl/logic
logic/rtl/logic/*

!logic/rtl/logic/packages
logic/rtl/logic/packages/*
!logic/rtl/logic/packages/logic_avalon_mm_pkg.sv
!logic/rtl/logic/packages/logic_pkg.sv

!logic/rtl/logic/interfaces
logic/rtl/logic/interfaces/*
!logic/rtl/logic/interfaces/logic_avalon_mm_if.sv

!logic/rtl/logic/include
logic/rtl/logic/include/*
!logic/rtl/logic/include/logic.svh
!logic/rtl/logic/include/logic_avalon_mm.svh

pinout_assignment_target_dev_test.tcl
pinout_assignment_controller_dev_test.tcl